/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-jay-section-jay-section {
	border: 1px dotted #f00;
}
.wp-block-button.has-size-large .wp-block-button__link {
	padding: 25px 45px;
}

.wp-block-button.has-size-small .wp-block-button__link {
	padding: 5px 15px;
}
